@{
    ViewData["Title"] = "Admin";
}
<h1>@ViewData["Title"]</h1>

<body class="container-fluid">
    <main role="main">
        <p>Use this page to detail your site's privacy policy.</p>
        <p>Use this page to detail your site's privacy policy.</p>
        <p>Use this page to detail your site's privacy policy.</p>
        <p>Use this page to detail your site's privacy policy.</p>
        <p>Use this page to detail your site's privacy policy.</p>
        <p>Use this page to detail your site's privacy policy.</p>
        <p>Use this page to detail your site's privacy policy.</p>
    </main>
</body>